<!-- /views/payment_results.erb -->
<h1>Payment Results</h1>
<div>APR</div>
<dd><%= @apr.to_fs(:percentage, { :precision => 4 } )    %></dd>
<div>Number of years</div>
<dd><%= @years %></dd>
<div>Principal</div>
<dd><%= @principal.to_fs(:currency) %></dd>
<div>Payment</div>

<dd><%= @payment %></dd>
<p><a href="/payment/new">Calculate another payment</a>
